@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-my-secondary-container: rgb(245 249 255);
  --color-my-background-dim: rgb(244 240 240);
  --color-calendar-exam-background: rgb(230 246 230);
  --color-calendar-today-background: rgb(217 226 255);
  --color-calendar-default-background: #ffffff;
}

:root,
html,
body {
  height: 100%;
}

body {
  margin: 0;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: "Courier New", Courier, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height:100%;
  overflow: hidden;
  overscroll-behavior: none;
}

.line-clamp-1,
.line-clamp-2,
.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}
.pb-safe {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  background-color: green;
}
.bottom-safe {
  bottom: constant(safe-area-inset-bottom);
  bottom: env(safe-area-inset-bottom);
  background-color: green;
}

.mainContainer {
  padding-bottom: calc(70px + constant(safe-area-inset-bottom));
  padding-bottom: calc(70px + env(safe-area-inset-bottom));
}
.mainTabbar {
  bottom: calc(5px + constant(safe-area-inset-bottom));
  bottom: calc(5px + env(safe-area-inset-bottom));
}
